body{
    font-family:'Roboto',sans-serif;
}
/*** Nav bar ***/
.nav-item{
    letter-spacing: .2em;
    font-size:14px;
    text-transform:uppercase;
}
.dropdown-item{
    letter-spacing: .2em;
    font-size:14px;
    text-transform:uppercase;
}
.my_footer{
      height:60px;
}
.my_footer p{
    padding-top:20px;
    font-size:14px;
}
/* category */
.my_row_class{
    padding-top:15px;

}
.my_row_class .mx-auto{
    background-color:Beige;
    font-size:18px;
}
.my_image{
    width:100%;
    height:auto;

.my_title{
    font-size:25px;
    text-transform:uppercase !important;
    letter-spacing: .2em;
}
.my_image_padding{
    padding:5px;
}
.my_bottom_margin{
    margin-bottom:10px;

}
.card-body h4{
    font-size:14px;
    /* text-transform: uppercase !important; */
    letter-spacing: .2em;
}
/*** product page ***/
.my_prod_row{
    padding-top:15px;
    padding-bottom:20px;
}
.my_prod_row .mx-auto{
    color:#000;
    font-size:12px;
    text-decoration:none;
}
.my_prod_title{
    font-size:16px;
    letter-spacing:.2em;
    padding-top:15px;
    padding-bottom:10px;
}
.my_prod_text{
    padding-right:20px;
}
.my_search{
    padding-top:20px;
}
/** Cart Page **/
.my_table{
    min-width:400px;
    font-size:14px;
}
.my_thead{
    font-weight:normal;
    font-transform:uppercase;
    letter-spacing:.2em;
    background-color:Gold!important;
}
.custom_a{
    text-decoration:none;
}
.custom_icon{
    text-decoration:none;
    color:Gold !important;
}
.my_button{ margin-top:5px;}
